<nav class="pagination" aria-label="Pagination">
  <ul class="pagination justify-content-center">
    {% if paginator.previous_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}" aria-label="Précédent">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">&laquo;</span>
      </li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li class="page-item active">
          <span class="page-link">{{ page }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.baseurl | append: page | relative_url }}">{{ page }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path | relative_url }}" aria-label="Suivant">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">&raquo;</span>
      </li>
    {% endif %}
  </ul>
</nav>
