.button {
  color: #eb6361;
  background-color: #FFFFFF;
  padding: 18px 10px;
  -webkit-box-shadow: 10px 10px 2px 1px rgba(80, 159, 116, 0.7);
          box-shadow: 10px 10px 2px 1px rgba(80, 159, 116, 0.7);
  border-radius: 1px;
  border-color: rgba(235, 99, 97, 0.5);
  border: solid; }
